<html>
  <head>
    <title>Hello...</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
    <!-- p means paragraph -->
    <div class="jumbotron">
      <h1>Foxy Social App</h1>
      <p>Welcome Back!</p>
      <button id="colorBtn" class="btn btn-primary btn-lg">Click Here for Smooth Lovin'</button>
    </div>

    <form action="/auth/facebook">
      <button class="btn btn-primary btn-lg"> Login </button>
    </form>
  </div>
  </body>
 </html>