<html>
  <head>
  	<title>This is Your Data</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
  </head>
  <body>
  	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
			<h1>Twerky Twitter App</h1>
			<p>Welcome!</p>
		</div>
		<center>
		{{#if errorMessage}}
			<p style="color:red;"><strong>Please enter a search value</strong></p>
		{{/if}}
		Please enter a topic.

<!-- 		<form method="post" action="/getFbData"> 
		<input type="text" placeholder="topic" name="query"> </input><p><p>
		<button type="submit" class="btn btn-primary"> Get FB posts</button> 
		</form> -->

		<form method="post" action="/getTwitterData">
			<input type="text" placeholder="Topic" name="query"> </input><p><p>
			<button type="submit" class="btn btn-primary"> Get Twitter Posts</button>
		</form>
	</center>
	</div>
  </body>
 </html>