<html>
  <head>
  	<title>Tweets</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
  </head>


  <body>
  	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
			<h1>Foxy Social App</h1>
			<p>Welcome Back!</p>
			<button id="colorBtn" href="http://www.youtube.com/watch?v=tdBNI5Jej-M" class="btn btn-primary btn-lg">Click Here for Smooth Lovin'</button>
		</div>

		<div class="panel panel-default">
		  
			{{#each statuses}}
		  <div class="panel-heading">
		    <h3 class="panel-title">{{user.name}}</h3>
		  </div>
		  <div class="panel-body">
		    {{text}}
		  </div>
		  {{/each}}
		</div>
	</div>
  </body>
 </html>